@{
    ViewBag.Title = "Admin";
}
 <script>
     $(document).on("click", "#idDisconnect", function () {
         //close session by calling service
         $.get( "api/Services/disconnect");
         window.location = "/Account/Login";
     });
 </script>
<div class="row" ng-app="appAdmin">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Welcome to Admin Area</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/adminproducts">Products</a></li>
                    <li><a href="/admincommand">Commands</a></li>
                    <li><a href="#" id="idDisconnect">Disconnect</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->
 
    <div ng-view>

    </div>

</div>